
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>删除信息显示</title>
    <link href="~/Scripts/css/table.css" rel="stylesheet" />
    <script src="~/Scripts/javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/javascript/comm/comm.js"></script>
    <script src="~/Scripts/javascript/winopen/winopenm.js"></script>
</head>
<body>

    <form method="post" action="Delete">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案删除 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="删除" class="BUTTON_STYLE1" />
                    <input type="button" value="返回" class="BUTTON_STYLE1"
                           onclick="history.back()">
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=3 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            @foreach (human_file item in Model)
            {
                <tr>
                    <td class="TD_STYLE1" width="10%">
                        档案编号
                        <input type="hidden" name="huf_idhaha" value="@item.huf_id"/>
                    </td>
                    <td colspan="6" class="TD_STYLE2">
                        @item.human_id
                    </td>
                    <td rowspan="6" width="13%" style="text-align: center;">
                        <img src="~/TuPian/@item.human_picture" style="width:120px;height:150px;" />
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1" width="10%">
                        I级机构
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        @item.first_kind_name
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        II级机构
                    </td>
                    <td width="13%" class="TD_STYLE2">
                        @item.second_kind_name
                    </td>
                    <td width="10%" class="TD_STYLE1">
                        III级机构
                    </td>
                    <td class="TD_STYLE2" colspan="2" width="2%">
                        @item.third_kind_name
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        职位分类
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_major_kind_name
                    </td>
                    <td class="TD_STYLE1">
                        职位名称
                    </td>
                    <td class="TD_STYLE2">
                        @item.hunma_major_name
                    </td>
                    <td class="TD_STYLE1">
                        职称
                    </td>
                    <td colspan="2" class="TD_STYLE2">
                        @item.human_pro_designation
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        姓名
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_name
                    </td>
                    <td class="TD_STYLE1">
                        性别
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_sex
                    </td>
                    <td class="TD_STYLE1">
                        Email
                    </td>
                    <td colspan="2" class="TD_STYLE2">@item.human_email</td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        电话
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_telephone
                    </td>
                    <td class="TD_STYLE1">
                        QQ
                    </td>
                    <td class="TD_STYLE2">@item.human_qq</td>
                    <td class="TD_STYLE1">
                        手机
                    </td>
                    <td colspan="2" class="TD_STYLE2">@item.human_mobilephone</td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        住址
                    </td>
                    <td colspan="3" class="TD_STYLE2">@item.human_address</td>
                    <td class="TD_STYLE1">
                        邮编
                    </td>
                    <td colspan="2" class="TD_STYLE2">@item.human_postcode</td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        国籍
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_nationality
                    </td>
                    <td class="TD_STYLE1">
                        出生地
                    </td>
                    <td class="TD_STYLE2">@item.human_birthplace</td>
                    <td class="TD_STYLE1">
                        生日
                    </td>
                    <td width="13%" class="TD_STYLE2">@item.human_birthday</td>
                    <td width="10%" class="TD_STYLE1">
                        民族
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_race
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        宗教信仰
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_religion
                    </td>
                    <td class="TD_STYLE1">
                        政治面貌
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_party
                    </td>
                    <td class="TD_STYLE1">
                        身份证号码
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_id_card
                    </td>
                    <td class="TD_STYLE1">
                        社会保障号码
                    </td>
                    <td class="TD_STYLE2">@item.human_society_security_id</td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        年龄
                    </td>
                    <td class="TD_STYLE2">@item.human_age</td>
                    <td class="TD_STYLE1">
                        学历
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_educated_degree
                    </td>
                    <td class="TD_STYLE1">
                        教育年限
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_educated_years
                    </td>
                    <td class="TD_STYLE1">
                        学历专业
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_educated_major
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        薪酬标准
                    </td>
                    <td class="TD_STYLE2">
                        @item.salary_standard_name
                    </td>
                    <td class="TD_STYLE1">
                        开户行
                    </td>
                    <td class="TD_STYLE2">@item.human_bank</td>
                    <td class="TD_STYLE1">
                        帐号
                    </td>
                    <td class="TD_STYLE2">@item.human_account</td>
                    <td class="TD_STYLE1">
                        复核人
                    </td>
                    <td class="TD_STYLE2">
                        @item.checker
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        复核时间
                    </td>
                    <td class="TD_STYLE2">
                        @item.check_time
                    </td>
                    <td class="TD_STYLE1">
                        特长
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_speciality
                    </td>
                    <td class="TD_STYLE1">
                        爱好
                    </td>
                    <td class="TD_STYLE2">
                        @item.human_hobby
                    </td>
                    <td class="TD_STYLE1">
                        &nbsp;
                    </td>
                    <td class="TD_STYLE2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        档案附件
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <a href="#">@item.attachment_name</a>
                    </td>
                </tr>
                <tr>
                    <td class="TD_STYLE1">
                        个人履历
                    </td>
                    <td colspan="7" class="TD_STYLE2">
                        <textarea name="item.humanHistroyRecords" rows="4"
                                  class="TEXTAREA_STYLE1" readonly="readonly">@item.human_histroy_records</textarea>
                    </td>
                </tr>
                    <tr>
                        <td class="TD_STYLE1">
                            家庭关系信息
                        </td>
                        <td colspan="7" class="TD_STYLE2">
                            <textarea name="item.humanFamilyMembership" rows="4"
                                      class="TEXTAREA_STYLE1" readonly="readonly">@item.human_family_membership</textarea>
                        </td>
                    </tr>
                        <tr>
                            <td class="TD_STYLE1">
                                备注
                            </td>
                            <td colspan="7" class="TD_STYLE2">
                                <textarea name="item.remark" rows="4" class="TEXTAREA_STYLE1" readonly="readonly">@item.remark</textarea>
                            </td>
                        </tr>
            }
        </table>
    </form>
</body>
</html>
